# Project-Bot Account Detection

## Data Understanding

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pandas import Series, DataFrame

In [2]:
file=pd.read_csv("C:/Users/Riya/Desktop/Project_Bot_Account/kaggle_bot_accounts.csv")

File_DFs=pd.DataFrame(file)

File_DFs

,S.N.,NAME,GENDER,EMAIL_ID,IS_GLOGIN,FOLLOWER_COUNT,FOLLOWING_COUNT,DATASET_COUNT,CODE_COUNT,DISCUSSION_COUNT,AVG_NB_READ_TIME_MIN,REGISTRATION_IPV4,REGISTRATION_LOCATION,TOTAL_VOTES_GAVE_NB,TOTAL_VOTES_GAVE_DS,TOTAL_VOTES_GAVE_DC,ISBOT
0,0,Johnny KerrThomas,Male,jacksonalan@example.com,False,53.0,87.0,5.0,3.0,124.0,NaN,81.88.75.170,Argentina,16.0,10.0,3.0,NaN
1,1,Dwayne LarsenLara,Male,calvin80@example.com,True,16.0,67.0,5.0,NaN,26.0,24.97,NaN,New Zealand,14.0,5.0,2.0,NaN
2,2,NaN,Male,qbrown@example.net,True,44.0,81.0,4.0,17.0,125.0,7.75,159.202.103.178,Costa Rica,16.0,4.0,0.0,False
3,3,Russell SimmonsPhillips,Male,kimberlywagner@example.com,True,23.0,114.0,5.0,24.0,67.0,13.40,196.11.132.51,Italy,21.0,10.0,1.0,False
4,4,Jamie WilsonMartinez,Female,shaunbrooks@example.com,False,46.0,112.0,2.0,12.0,63.0,24.83,159.196.199.20,Belgium,10.0,6.0,2.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048570,Frank MacdonaldCraig,Male,sgates@example.org,True,62.0,96.0,2.0,25.0,54.0,16.16,202.178.215.237,Djibouti,10.0,7.0,0.0,False
1048571,1048571,Jeremy ReedHill,Male,lindsay10@example.org,False,57.0,51.0,5.0,17.0,61.0,10.57,155.100.180.93,French Polynesia,23.0,3.0,2.0,False
1048572,1048572,Colleen JohnsonFowler,Female,natashasullivan@example.com,True,34.0,NaN,1.0,6.0,150.0,8.30,91.206.226.185,Trinidad and Tobago,16.0,6.0,3.0,False
1048573,1048573,James WilsonRivers,Male,laurahunt@example.net,False,57.0,49.0,6.0,22.0,90.0,27.56,NaN,Sao Tome and Principe,20.0,10.0,2.0,False
1048574,1048574,Jeffery MitchellJohnson,Male,tricia37@example.net,False,0.0,1.0,0.0,0.0,6.0,0.90,17.28.123.184,Poland,22.0,4.0,0.0,True

In [3]:
File_DFs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 17 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   S.N.                   1048575 non-null  int64
 1   NAME                   986343 non-null   object
 2   GENDER                 986874 non-null   object
 3   EMAIL_ID               986823 non-null   object
 4   IS_GLOGIN              986800 non-null   object
 5   FOLLOWER_COUNT         986923 non-null   float64
 6   FOLLOWING_COUNT        986320 non-null   float64
 7   DATASET_COUNT          986238 non-null   float64
 8   CODE_COUNT             986809 non-null   float64
 9   DISCUSSION_COUNT       986638 non-null   float64
 10  AVG_NB_READ_TIME_MIN   986414 non-null   float64
 11  REGISTRATION_IPV4      986145 non-null   object
 12  REGISTRATION_LOCATION  986435 non-null   object
 13  TOTAL_VOTES_GAVE_NB    986933 non-null   float64
 14  TOTAL_VOTES_GAVE_DS    986715 non-null   float64
 15  TOTAL_VOTES_GAVE_DC    986621 non-null   float64
 16  ISBOT                  986290 non-null   object
dtypes: float64(9), int64(1), object(7)
memory usage: 136.0+ MB

In [4]:
File_DFs.sum()

C:\Users\Riya\AppData\Local\Temp\ipykernel_5056\4081856424.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  File_DFs.sum()

S.N.                    549754241025
IS_GLOGIN                     360739
FOLLOWER_COUNT            26631009.0
FOLLOWING_COUNT           44426613.0
DATASET_COUNT              2527300.0
CODE_COUNT                10252576.0
DISCUSSION_COUNT          64961009.0
AVG_NB_READ_TIME_MIN     12573570.14
TOTAL_VOTES_GAVE_NB       17280784.0
TOTAL_VOTES_GAVE_DS        6415263.0
TOTAL_VOTES_GAVE_DC        1479706.0
ISBOT                         264273
dtype: object

In [5]:
File_DFs.isna().sum()

S.N.                         0
NAME                     62232
GENDER                   61701
EMAIL_ID                 61752
IS_GLOGIN                61775
FOLLOWER_COUNT           61652
FOLLOWING_COUNT          62255
DATASET_COUNT            62337
CODE_COUNT               61766
DISCUSSION_COUNT         61937
AVG_NB_READ_TIME_MIN     62161
REGISTRATION_IPV4        62430
REGISTRATION_LOCATION    62140
TOTAL_VOTES_GAVE_NB      61642
TOTAL_VOTES_GAVE_DS      61860
TOTAL_VOTES_GAVE_DC      61954
ISBOT                    62285
dtype: int64